/* Sivuston body-elementin tyylit */
body {
    background-color: #ecffda;
    font-family: "Fira Sans", sans-serif;
}

/* Sivuston otsikon tyylit */
.header {
    color: #201b1b;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;

}

/* Leipätekstin tyylit */
p {
    color: #332c2c;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Navigaation taustan väri */
.navbar.custom {
    background-color: #ffd6e4;
}

/* Navigaation linkkien väri */
.navbar.custom .navbar-nav .nav-link {
    color: #363131;
}

/* Navigaatiolinkin hover-väri */
.navbar.custom .navbar-nav .nav-link:hover {
    background-color: #363131;
    color: #ffd6e4;
}

/* Navigaation aktiivinen linkki */
.navbar.custom .navbar-nav .nav-link.active {
    background-color: #363131;
    color: #ffd6e4;
}

/* Karuselli ja kuvat */
#karuselli {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-caption {
    background-color: rgba(36, 39, 36, 0.75);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#karuselli img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* Kortin tyylit */
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Kontin tyylit */
.container {
    margin-top: 80px;
    margin-bottom: 30px;
}

/* Haitarin tyylit */
.accordion {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ece986;
}

/* Taulukon tyylit */
.table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
}

/* Taulukon otsikon tyylit */
.table thead th {
    background-color: #fff7d6;
    color: #363131;
}

/* Tumma tila */
/* Tumma tila koko sivuston body-elementissä */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Tumma tila navigaatiopalkissa */
body.dark-mode .navbar.custom {
    background-color: #555;
}

body.dark-mode .navbar.custom .navbar-nav .nav-link {
    color: #fff;
}

body.dark-mode .navbar.custom .nav-link:hover,
body.dark-mode .navbar.custom .nav-link.active {
    background-color: #777;
    color: #fff;
}

/* Tumma tila teksteissä */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p,
body.dark-mode li {
    color: #fff;
}

/* Tumma tila taulukossa */

body.dark-mode .table th {
    background-color: #333;
    color: white;
}

body.dark-mode .table td {
    background-color: #444;
    color: white;
    border-color: #777;
}